@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Piazzolla:ital,opsz,wght@0,8..30,100..900;1,8..30,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Special+Gothic+Expanded+One&display=swap');

* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.main {
    height: 90vh;
    background-image: url(bg.jpg);
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    position: relative;
}

.main .box {
    height: 90vh;
    width: 100%;
    opacity: 0.65;
    background-color: black;
    position: absolute;
    top: 0;
}

svg {
    width: 150px;

}

nav {
    max-width: 80vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

nav svg {
    color: red;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    font-family: sans-serif;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    height: calc(100% - 70px);

}

.hero> :nth-child(1) {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 70px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 70px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
}

.hero> :nth-child(4) {
    font-family: sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 50px;
    text-align: center;
}

.sepration {
    height: 7px;
    background-color: gray;
    opacity: 0.5;
}

.text {
    padding: 20px 40px;
    background-color: rgba(15, 7, 7, 0.7);
    color: white;
    font-family: sans-serif;
    font-weight: 400;
}

.btn {
    padding: 20px 40px;
    font-size: 24px;
    font-weight: bold;
    background-color: red;
    border-radius: 5px;
    color: white;
    border-style: none;
}

.sign {
    padding: 10px 20px;
    background-color: red;
    color: white;
    font-weight: bold;
    border-style: none;
    border-radius: 4px;
}

.eng {
    padding: 7px 40px;
    background-color: rgba(23, 23, 23, 1);
    color: white;
    font-weight: 700;
    font-size: 15px;
    border: 1px solid white;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


.first {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
}

.secImg {
    position: relative;
}

.secImg img {
    width: 550px;
    position: relative;
    z-index: 10;
}

.secImg video {
    position: absolute;
    top: 51px;
    right: 0px;
    width: 550px;
}

.first>div {
    display: flex;
    flex-direction: column;
}

.firsttxt {
    font-size: 40px;
    font-weight: 900;
}

.second {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80vw;
    margin: auto;
    color: white;
}

.second span {
    display: flex;
    flex-direction: column;
}

.third{
     display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80vw;
    margin: auto;
    color: white;
}
.third span{
    display: flex;
    flex-direction: column;
}

.faq{
 background-color: black;
 color: white;
 padding: 34px;
}

.faq h2{
    text-align: center;
    font-size: 48px;
}

.faqbox{
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: #2d2d2d;
    max-width: 60vw;
    font-size: 24px;
    padding: 24px;
    margin: 34px auto;
    transition: all 1s ease-out;
}
.faqbox:hover{
    background-color: gray;
}
.faqbox svg{
    filter: invert(1);
}